<body style="background-color: #f3f3f3;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 2%">
    <tr>
      <td align="center" bgcolor="#f3f3f3">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
            <td align="left" bgcolor="#ffffff" style="padding: 36px 24px 0; font-family: Helvetica, Arial, sans-serif; border-top: 3px solid #ff9c06;">
                <h3>Account Verified Successfully</h3>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" bgcolor="#f3f3f3">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
            <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
              <p style="margin: 0;">
				      Welcome <b>{{customer_name}}, </b> <br><br>
              Thank you for joining {{app_name}}! We're thrilled to have you on board and ready to bring delicious meals right to your doorstep.
              <br><br>
              Dive into a world of culinary delights! Discover a variety of cuisines and mouth-watering dishes waiting just for you. Ordering your favorite meals is a breeze. Simply browse, select, and place your order with a few taps.
      				<br><br>
              Connect with us on social media to stay updated on the latest menu additions, special promotions, and more. We're on Facebook, Instagram, Twitter - {{social_media_handle}}.
              <br><br>
              Need assistance or have questions? Our customer support team is here to help. Feel free to reach out at [Your Customer Support Email or Phone Number].
              <br><br>
              Once again, welcome to {{app_name}}! We can't wait to serve you the best flavors in town.
              <br><br>
              Best regards,
              <br>
              The {{app_name}} Team
			      </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>