<body style="background-color: #f3f3f3;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 2%">
    <tr>
      <td align="center" bgcolor="#f3f3f3">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
            <td align="left" bgcolor="#ffffff" style="padding: 36px 24px 0; font-family: Helvetica, Arial, sans-serif; border-top: 3px solid #ff9c06;">
               
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" bgcolor="#f3f3f3">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
            <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
              <p style="margin: 0;">
				      Hello <b>{{customer_name}}, </b> <br><br>
              You have logged-in successfully to <strong>{{app_name}}</strong> on <strong>{{ loggedDate }}</strong>

              <br><br>

              Please if you do not initiate this action, contact our customer support on <a href="mailto:{{ supportMail }}">{{ supportMail }}</a> as your account might have
              been compromised

              <br><br>
              Best regards,
              <br>
              The {{app_name}} Team
			      </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>